<ion-content [scrollEvents]="true" (ionScroll)="onScrollHedearFix($event)">
	<!-- common header show -->
  <common-header [ngClass]="{'fix-header':isFixedHeader}"></common-header>
  
  <!-- Page header start -->
	<section id="page-header">
		<div class="page-header">
			<div class="banner">
				<img class="main-banner-img"  src="assets/images/page-header.jpg" alt="page-header">
				<div class="banner-caption-wrapper">
					<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 slider-text animated fadeInUp">
						<div class="slider-text-inner">
							<div class="desc">
								<span class="icon">
									<img src="assets/images/restaurant.png">
								</span>
								<h1>About Us</h1>
								
								<div class="desc2"></div>
							</div>
						</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- Page header end -->

  <!-- Our history section start -->
  <section id="our-history">
    <div class="our-history section-wrapper">
      <div class="container">
        <div class="heading">
					<h2 class="section-title">
					<div class="timetable-decorator"></div>
					<div class="opening-hours">{{siteInfo?.about?.about_title}}</div>
					<div class="timetable-decorator2"></div>
					</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="history-img">
              <img src="{{file_url}}/{{ siteInfo?.about?.path }}{{ siteInfo?.about?.image }}">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="history-content">
              <h2>{{siteInfo?.about?.short_description}}</h2>
              <p>{{siteInfo?.about?.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our history section end -->

  <!-- Our experiance chef start -->
  <section id="our-chef">
    <div class="our-chef section-wrapper">
      <div class="container">
        <div class="heading">
					<h2 class="section-title">
					<div class="timetable-decorator"></div>
					<div class="opening-hours">Our Experience Chefs</div>
					<div class="timetable-decorator2"></div>
					</h2>
        </div>
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="ourChefSlideConfig" 
        (init)="slickInit($event)"
        >
          <div ngxSlickItem class="slide" *ngFor="let staffItem of siteInfo?.staff_details">
            <div class="slider-item" matRipple>
              <div class="cptn09">
                <img src="{{file_url}}/{{ staffItem?.path }}/{{ staffItem?.image }}" alt="">
                <div class="cptn">
                    <div>
                        <h3>{{ staffItem?.staff_name }}</h3>
                        <p>Chef Master</p>
                    </div>
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                </div>
              </div>  
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </section>
  <!-- Our experiance chef end -->

  <!-- common footer show -->
	<common-footer></common-footer>
</ion-content>
